button {
    width: 150px;
    height: 40px;
    margin: .3em;
    background-color: lightblue;
    color: #fff;
    font-size: 1.1em;
}
#div1 {
    background-color: gold;
}
#div2 {
    background-color: antiquewhite;
}
span {
    background-color: floralwhite;
}
form {
    background-color: lightgoldenrodyellow;
}
input {
    padding: .5em;
    margin: 1em;
}